{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <title>Board</title>
</head>
<body>

<div class="container">
    <ul class="nav justify-content-end">

        {% if not user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:register' %}">회원가입</a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <small>{{ user.username }}님 안녕하세요~</small>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:update' %}">회원정보</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:index' %}">Home</a>
        </li>
    </ul>

    {% block body %}
    {% endblock %}
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>